#octopus {
    margin-top: 75px !important;
    margin-bottom: 50px !important;
    margin-right: 50pt !important;
    margin-left: 50pt !important;
    position: absolute;
    z-index: -1
}
#glasses {
    margin-top: 175px !important;
    margin-bottom: 25px !important;
    margin-right: 300px !important;
    margin-left: 110px !important;
    position: absolute;
    z-index: 1
}
#hat {
    margin-top: 10px !important;
    margin-bottom: 125px !important;
    margin-right: 50pt !important;
    margin-left: 35pt !important;
    position: absolute;
}